<div class="row footer">
	<div class="wrap line">
		<div class="child">
			<div class="min_title">Индустриальная недвижимость</div>
			<div><a href="" class="red-link">Аренда</a></div>
			<div><a href="" class="red-link">Продажа</a></div>
			<div><a href="" class="red-link">Ответ. хранение</a></div>
			<div><a href="" class="red-link">Открытые площади</a></div>
			<div><a href="" class="red-link">Продажа земельных участков</a></div>
			<div><a href="" class="red-link">Строительство склада</a></div>
			<div><a href="" class="red-link">На карте</a></div>
		</div>
		<div class="child">
			<div class="min_title">Информация о департаменте</div>
		</div>
		<div class="child">
			<div class="min_title">Офисы</div>
			<div class="marker">
				<div class="offtitle">Центральный офис</div>
				<div class="off">
					<i class="footer-address__map-icon fas fa-map-marker-alt"></i>
					<span>Москва, Знаменка д. 13, стр 3</span>
				</div>
			</div>
		</div>
		<div class="child">
			<div class="fphone">
				<i class="fa fa-phone"></i>
				<span class="call_phone_new2">
					<a class="ph" href="tel:+7 (495) {{ constant('PHONE')|replace({".":" "}) }}">+7 495 <span
							class="red bold">{{ constant('PHONE') }}</span></a>
				</span>
				<div class="clear"></div>
			</div>
			<div class="fdescr">
				<div>© {{ 'now'|date("Y") }} RAYS ARMA</div>
				Аренда и продажа складских и<br>
				производственных помещений,<br>
				промышленной земли в Москве и<br>
				Подмосковье. Отвественное <br>
				хранение товаров.
			</div>
		</div>
	</div>
</div>