<button class="icobutton icobutton--heart"
	style="color: rgb(243, 81, 134);">
	<span class="fa fa-heart" style="transform: scale3d(0.5, 0.5, 1);"></span>
	<div data-name="mojs-shape" class=""
		style="position: absolute; width: 115px; height: 115px; margin-left: -57.5px; margin-top: -57.5px; opacity: 0.2; left: 50%; top: 45%; transform: translate(0px, 0px) rotate(0deg) scale(1, 1); transform-origin: 50% 50% 0px;"></div>
	<div data-name="mojs-shape" class=""
		style="position: absolute; width: 45px; height: 45px; margin-left: -22.5px; margin-top: -22.5px; opacity: 0.2; left: 50%; top: 50%; transform: translate(40px, -60px) rotate(0deg) scale(1, 1); transform-origin: 50% 50% 0px;">
		<svg
			style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
			<ellipse rx="20" ry="20" cx="22.5" cy="22.5" fill-opacity="1"
				stroke-linecap="" stroke-dashoffset="" fill="transparent"
				stroke-dasharray="" stroke-opacity="1" stroke-width="0"
				stroke="#F35186"></ellipse></svg>
	</div>
	<div data-name="mojs-shape" class=""
		style="position: absolute; width: 25px; height: 25px; margin-left: -12.5px; margin-top: -12.5px; opacity: 0.5; left: 50%; top: 50%; transform: translate(-10px, -80px) rotate(0deg) scale(1, 1); transform-origin: 50% 50% 0px;">
		<svg
			style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
			<ellipse rx="10" ry="10" cx="12.5" cy="12.5" fill-opacity="1"
				stroke-linecap="" stroke-dashoffset="" fill="transparent"
				stroke-dasharray="" stroke-opacity="1" stroke-width="0"
				stroke="#F35186"></ellipse></svg>
	</div>
	<div data-name="mojs-shape" class=""
		style="position: absolute; width: 45px; height: 45px; margin-left: -22.5px; margin-top: -22.5px; opacity: 0.3; left: 50%; top: 50%; transform: translate(-70px, -10px) rotate(0deg) scale(1, 1); transform-origin: 50% 50% 0px;">
		<svg
			style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
			<ellipse rx="20" ry="20" cx="22.5" cy="22.5" fill-opacity="1"
				stroke-linecap="" stroke-dashoffset="" fill="transparent"
				stroke-dasharray="" stroke-opacity="1" stroke-width="0"
				stroke="#F35186"></ellipse></svg>
	</div>
	<div data-name="mojs-shape" class=""
		style="position: absolute; width: 45px; height: 45px; margin-left: -22.5px; margin-top: -22.5px; opacity: 0.4; left: 50%; top: 50%; transform: translate(80px, -50px) rotate(0deg) scale(1, 1); transform-origin: 50% 50% 0px;">
		<svg
			style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
			<ellipse rx="20" ry="20" cx="22.5" cy="22.5" fill-opacity="1"
				stroke-linecap="" stroke-dashoffset="" fill="transparent"
				stroke-dasharray="" stroke-opacity="1" stroke-width="0"
				stroke="#F35186"></ellipse></svg>
	</div>
	<div data-name="mojs-shape" class=""
		style="position: absolute; width: 35px; height: 35px; margin-left: -17.5px; margin-top: -17.5px; opacity: 0.2; left: 50%; top: 50%; transform: translate(20px, -100px) rotate(0deg) scale(1, 1); transform-origin: 50% 50% 0px;">
		<svg
			style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
			<ellipse rx="15" ry="15" cx="17.5" cy="17.5" fill-opacity="1"
				stroke-linecap="" stroke-dashoffset="" fill="transparent"
				stroke-dasharray="" stroke-opacity="1" stroke-width="0"
				stroke="#F35186"></ellipse></svg>
	</div>
	<div data-name="mojs-shape" class=""
		style="position: absolute; width: 55px; height: 55px; margin-left: -27.5px; margin-top: -27.5px; opacity: 0.4; left: 50%; top: 50%; transform: translate(-40px, -90px) rotate(0deg) scale(1, 1); transform-origin: 50% 50% 0px;">
		<svg
			style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
			<ellipse rx="25" ry="25" cx="27.5" cy="27.5" fill-opacity="1"
				stroke-linecap="" stroke-dashoffset="" fill="transparent"
				stroke-dasharray="" stroke-opacity="1" stroke-width="0"
				stroke="#F35186"></ellipse></svg>
	</div>
</button>