.lytkarino-exclusive {
	overflow-x: hidden;
}

.lytkarino-exclusive #location, .lytkarino-exclusive #planning, .lytkarino-exclusive #features {
	scroll-margin-top: 100px;
}

/* hero */

.lytkarino-exclusive-hero {
	background: url('/public/images/exclusive/lytkarino-hero.webp') no-repeat center center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.lytkarino-exclusive-hero__header {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	padding: 2rem 2rem 1rem;
	gap: 2rem;
}

.lytkarino-exclusive-hero__button {
	margin-left: auto;
	color: #fff;
	font-size: 1rem;
	padding: .5rem 1rem;
	font-family: 'RalewayLight', 'Open Sans', serif;
}

.lytkarino-exclusive-hero__phone {
	color: #fff;
	font-size: 1.5rem;
}

.lytkarino-exclusive-hero__phone a {
	color: inherit;
	font-family: 'Futura', 'Open Sans', serif;
	font-weight: 300;
}

.lytkarino-exclusive-hero__overlay {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.lytkarino-exclusive-hero__title {
	font-family: 'RalewayLight', 'Open Sans', serif;
	text-align: center;

	color: #fff;
	font-size: 4rem;
	font-weight: 400;
	text-transform: uppercase;

	text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.lytkarino-exclusive-hero__subtitle {
	font-family: 'Futura', 'Open Sans', serif;
	font-weight: 300;
	font-size: 2.5rem;

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	color: #fdec8a;
}

/* map */

.lytkarino-exclusive-map {
	height: 650px;
	position: relative;
}

.lytkarino-exclusive-map__description {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	transition: opacity 1s ease .5s;
	opacity: 1;
	color: #fff;
}

.lytkarino-exclusive-map__description:hover {
	opacity: 0;
}

.lytkarino-exclusive-map.hovered .lytkarino-exclusive-map__description {
	z-index: -1;
	opacity: 0;
}

.lytkarino-exclusive-map__title {
	font-family: 'RalewayMedium', 'Open Sans', serif;
	font-size: 3rem;
	font-weight: 400;
	margin: 0;
}

.lytkarino-exclusive-map__subtitle {
	font-family: 'RalewayLight', 'Open Sans', serif;
	font-size: 2.5rem;
	font-weight: 400;
	margin: 0;
}

/* features */

.lytkarino-exclusive-features {
	background-color: #fbfbfb;
	background-image: url('/public/images/exclusive/background.png');
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 50px 0;
}

.lytkarino-exclusive-features__list {
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.lytkarino-exclusive-feature {
	display: flex;
	align-items: start;
}

.lytkarino-exclusive-feature__description {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	padding-left: 50px;
}

.lytkarino-exclusive-feature__description.lytkarino-exclusive-feature__description--inverted {
	border-top: 1px solid #000;
	border-bottom: none;
	padding-top: 10px;
	padding-bottom: 0;
}

.lytkarino-exclusive-feature__title {
	font-size: 2.5rem;
	letter-spacing: 3px;
	margin: 0 0 5px 0;
	font-family: 'Futura', 'Open Sans', serif;
	font-weight: 400;
}

.lytkarino-exclusive-feature__subtitle {
	font-size: 1.6rem;
	font-family: 'RalewayMedium', 'Open Sans', serif;
	font-weight: 400;
	margin: 0;
}

#lytkarino-exclusive-feature-1 {

.lytkarino-exclusive-feature__description {
	margin-top: 100px;
	width: 40%;
}

.lytkarino-exclusive-feature__photo {
	background: url('/public/images/exclusive/lytkarino-feature-1.jpeg') no-repeat;
	background-size: cover;
	aspect-ratio: 4 / 5;
	width: 500px;
}

}


#lytkarino-exclusive-feature-2 {
	align-items: center;

.lytkarino-exclusive-feature__description {
	width: 40%;
	padding-left: 0;
	padding-right: 50px;
}

.lytkarino-exclusive-feature__photo {
	background: url('/public/images/exclusive/lytkarino-feature-1.jpeg') no-repeat;
	background-size: cover;
	aspect-ratio: 3 / 2;
	width: 60%;
}

}

#lytkarino-exclusive-feature-3 {

.lytkarino-exclusive-feature__description {
	margin-top: 60px;
	text-align: end;
	width: 40%;
}

.lytkarino-exclusive-feature__photo {
	background: url('/public/images/exclusive/lytkarino-feature-1.jpeg') no-repeat;
	background-size: cover;
	aspect-ratio: 3 / 2;
	width: 60%;
}

}