{% set metro = deal|getMetroStation(type) %}
{% if metro|length > 0 %}
	<div class="title">{% if type == "lot" %}Квартиры у метро{% elseif type == "complex" %}ЖК у метро{% else %}Новостройки у метро{% endif %}</div>
	<div class="result line horizontal-left" data="1">
			{% for i in 0..4  %}
				<div>
					{% for j in (i * (metro|length / 5)|round(0, 'ceil'))..((i * (metro|length / 5)|round(0, 'ceil')) + (metro|length / 5)|round(0, 'ceil')) %}
						{% if metro[j] is defined  %}
							<div class="el">
								{% if substr is not defined or substr != metro[j].metro|slice(0,1) %}
									{% set substr = metro[j].metro|slice(0,1) %}
									<div class="index">{{ substr }}</div>
								{% endif %}
								{% if type == "lot" %}
										{% set path = path("flats_metro",{"deal": deal, "metroLink": metro[j].metroLink}) %}
								{% elseif type == "complex" %}
										{% set path = path("complex_metro",{"metroLink": metro[j].metroLink}) %}
								{% elseif  type == "new_building" %}
										{% set path = path("new-buildings_metro",{"metroLink": metro[j].metroLink}) %}
								{% endif %}
								<a href="{{ path }}" class="red-link">{{ metro[j].metro }}</a> <span class="small-text">{{ metro[j].cm }}</span>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endfor %}
	</div>
	<div class="action" style="left: calc(50% - 139.367px);" data="Скрыть">
		<span>
			<span>Показать все станции метро</span> <i class="fa fa-angle-down"></i>
		</span>
	</div>
{% endif %}