.center-content .text{
	color: #666666;
	margin-top: 30px;
	font-size: 16px;
	line-height: 26px;	
}
.center-content .subtitle{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
	color: #181415;
	text-align: center;
}
.center-content .text a{
	color: #3f98dd;
    text-decoration: underline;
}
.center-content .text a:hover{
	color: #ea4e56;
}
@media screen and (max-width: 660px) {
	.center-content .title{
		font-family: "RalewayExtraBold";
	    font-size: 30px;
	    color: #181415;
	    text-align: left;
	    padding: 0 10px;
	}
	.center-content .text{
		padding: 0 10px;
	}
	
}