.dialog_input span.icon,
.dialog_input:after,
.dialog_input:before,
.dialog_input span:after,
.dialog_input span:before {
    font-family: icomoon;
}
/*modal*/
.modal-wrap{
	position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background: rgba(0, 0, 0, 0);
	visibility: hidden;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.modal-wrap.md-show{
	visibility: visible;
	background: rgba(0, 0, 0, 0.8);
}
.modal, .modal-success{
	width: 650px;
	position: relative;
	left: calc(50% - 325px);
	margin-top: 60px;
	top: 0;
	background: #FFF;
	border-radius: 4px;
	-webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.md-show .modal, .md-show .modal-success{
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.modal .header{
	position: relative;
	position: relative;
    border-bottom: 1px solid #dfdfdf;
}
.modal .header span.icon-clear-search{
	position: absolute;
	right: 20px;
	top: 20px;
	color: #c4c4c4;
	cursor: pointer;
	font-size: 14px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.modal .header span.icon-clear-search:hover{
	color: #181415;
}
.modal .header .title, .modal-success .success-header .text{
	margin: 25px 0;
	font-weight: 500;
	font-size: 24px;
}
.modal .body{
	background: #f5f5f5;
	padding: 30px 0; 
}
.modal .body .wrap-form .dialog_input{
	margin-bottom: 10px;
}
.modal .body .wrap-form input{
	 width: 370px;
	 box-sizing: border-box;
}
.modal .body .wrap-form textarea{
	 width: 370px;
	 box-sizing: border-box;
}
.modal .body .wrap-form .dialog_input[data-name="phone"]{
	flex: 1.2;
	margin-right: 10px;
	max-width: 200px;
}
.modal .body .wrap-form .dialog_input[data-name="email"]{
	flex: 1;
}
.modal .body .wrap-form input[name="phone"]{
	 width: 100%;
}
.modal .body .wrap-form input[name="email"]{
	 width: 100%;
}
.modal .body div[data-name="deal"]{
	margin-bottom: 20px;
}
.modal .footer{
	padding: 20px;
	border-top: 1px solid #dfdfdf;
}
.modal .footer, .modal-success .success-footer{
	padding: 20px;
}
.modal .footer .send{
	background: rgba(106, 136, 204, 0.5);
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    margin: 0 0 20px 0;
}
.modal .footer .send[data-access="true"]{
	background: rgba(106, 136, 204, 1);
}
.req{
	color: #999999;
	font-size: 12px;
	font-family: Arial;
}

.modal-success .success-header span.icon-circle-check:before{
	color: #90be52;
}
.modal-success .success-footer{
	border-top: 1px solid #bfbfbf;	
}

.dialog_input{
	padding:10px 10px;
	padding-top:20px;
	margin-bottom:10px;
	border: 1px solid #bfbfbf;
	background-color:#fff;
	position:relative;
}
.not-valid{
	display: none;
}
.dialog_input.selected{
	outline: 2px solid #5da7e4;
	border: 1px solid rgba(0, 0, 0, 0);
}
.dialog_input[data-validation="error"]{
	outline: 2px solid #e55d5d;
	border: 1px solid rgba(0, 0, 0, 0);
}
.dialog_input[data-validation="error"]:after{
	content: "\e95f";
	position:absolute;
	color:#e55d5d;
	font-size:20px;
	top:15px;
	right:15px;
}
.dialog_input[data-validation="ok"]{
	border: 2px solid #90be52;
}
.dialog_input[data-validation="ok"]:after{
	content: "\e95e";
	position:absolute;
	color:#90be52;
	font-size:20px;
	top:15px;
	right:15px;
}
.dialog_input[data-type="empty"]{
	background-color:#dfdfdf;
}
.dialog_input[data-type="empty"] .label{
	color:#666!important;
}
.dialog_input .empty{
	height:18px;
	display: block;
}
.dialog_input input.requare + span.label:after{
	content: "*";
	color: #ef3333;
	margin-left: 5px;
}
.dialog_input .label{
	position:absolute;
	z-index:9;
	left:10px;
	top:18px;
	font-size:12px;
	color:#a5a5a5;
	margin-left: 0px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.dialog_input input, .dialog_input textarea{
	position:relative;
	z-index:10;
	border:none;
	background-color:transparent;
	font-size:14px;
	width:100%;
	outline: none;
	resize: none
}
.dialog_input input:focus + .label, .dialog_input input.no_empty + .label,
.dialog_input textarea:focus + .label, .dialog_input textarea.no_empty + .label, .dialog_input input[name="phone"]:hover + .label{
	font-size:12px;
	top:5px;
}
.dialog_input .icon{
	position:absolute;
	right:0px;
	font-family: icomoon;
	padding: 15px;
    top: 0;
	z-index:15;
}
.dialog_input[data-type="password"] .icon:before{
	content:'\e915';
}
.dialog_input[data-type="password"] .icon.active:before{
	content:'\e914';
}
.start-dialog, .send{
	border: 0;
}
.req-star{
	color: #ef3333;
}

