@media screen and (max-width: 850px) {
	/*
	.layout .footer .wrap{
			padding: 0 20px;
		}*/
	
	.layout .footer .child{
		margin-right: 0 !important;
		padding: 30px 50px;
	}
	.layout .footer .wrap .child .min_title{
		margin-bottom: 15px;
	}
	.layout .footer .fphone{
		text-align: left;
	}
}
@media screen and (max-width: 745px) {
	.layout .footer .child{
		padding: 20px 0px;
	}

}
@media screen and (max-width: 650px) {
	.footer .feedback.start-dialog{
		display: none;
	}
	.footer .feedback.anchor-start-dialog{
		display: block;
	}
}
@media screen and (max-width: 550px) {
	.footer > div{
		-webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    -webkit-flex-direction: column;
	    -moz-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    
	    -webkit-box-align: start;
	    -ms-flex-align: start;
	    -webkit-align-items: flex-start;
	    -moz-align-items: flex-start;
	    align-items: flex-start;
	}
	
	/*
	.layout .footer .wrap{
			padding: 0 10px;
		}*/
	
	
}