{% extends "CityBundle:Default:layout.html.twig" %}

{% set styles = ['filter.css', 'department.css'] %}
{% set scripts = ['order.js'] %}

{% block content %}
<div class="wrap line">
	<div>
		<h1>{% if h1 is defined %} {{ h1 }} {% endif %}</h1>
	</div>
</div>
<div class="overlay-wrap line horizontal-center">
	<div class="center-content">
		<div class="title">
		Департамент<br />
		жилой недвижимости<br />
		</div>
		<div class="text">
			История компании PENNY LANE REALTY на столичном рынке элитной недвижимости началась
			в 1993 году. В то время агентство специализировалось на аренде квартир для сотрудников иностранных компаний и посольств. Затем начал формироваться Департамент жилой недвижимости, который на сегодняшний день существенно расширил поле деятельности. Специалисты компании помогают клиентам реализовать объект, подобрать вариант для покупки, сдать или снять элитное жилье в аренду. Всем своим клиентам компания обеспечивает юридическое сопровождение сделок любой сложности.
		</div>
		<div class="text">
			В базе компании представлены все знаковые дома и проекты города, начиная от уникальных исторических зданий, старинных особняков, известных современных комплексов в самых престижных районах Москвы, заканчивая самыми свежими элитными новостройками с предложениями от известных застройщиков.
		</div>
		<div class="text">
			<div class="subtitle">
				Работа у нас
			</div>
			<div>Постоянно расширяя сферу влияния и увеличивая долю на рынке, PENNY LANE REALTY ищет достойных специалистов с опытом работы в высоком сегменте недвижимости. Добро пожаловать <a href="http://agent.realtor.ru" target="_blank">в нашу команду!</a></div>
		</div>
	</div>
</div>
<div class="wrap">
	<div class="line horizontal-center">
		{% include "CityBundle:Default:order.html.twig" %}
	</div>
</div>


{% endblock %}