<section class="exclusive-line">
	<div class="container">
		<div class="exclusive-line__wrapper">
			<p data-aos="fade-in">
				<span>Нужна консультация?</span>
				<span class="exclusive-line__phone">+7 495 <b>{{ constant('PHONE') }}</b>,</span>
				<span class="exclusive-line__label">Работаем с 9:00 до 20:00</span>
			</p>
		</div>
	</div>
</section>