{% extends "DefaultBundle:Exclusive:layout.html.twig" %}

 {% set styles = [
	 'plugins/photoSwipe/photoswipe.css',
	 'plugins/photoSwipe/default-skin/default-skin.css',
	 'plugins/lightslider/lightslider.css',
	 'plugins/lightgallery/css/lightgallery.min.css',
	 'plugins/aos.css',

	 'exclusive/components/exclusive-feature.css',
	 'exclusive/components/exclusive-line.css',

	 'exclusive/exclusive.css',
	 'exclusive/lytkarino.css'
 ] %}

 {% set scripts = [
	 'plugins/photoSwipe/photoswipe.min.js',
	 'plugins/photoSwipe/photoswipe-ui-default.min.js',
	 'plugins/photoSwipe/photoSwipeCustom.js',
	 'plugins/lightgallery/jquery.mousewheel.min.js',
	 'plugins/lightslider/lightslider.min.js',
	 'plugins/lightgallery/lightgallery.min.js',
	 'plugins/aos.js',

	 'exclusive/components/exclusive-feature.js',

	 'exclusive/exclusive.js',
	 'exclusive/lytkarino.js',
 ] %}

{% set meta = {
	"og:title": 'Индустриальный парк Лыткарино - производственно-складской комплекс класса А+',
	"og:url": app.request.getUri,
	"og:image": "",
	"og:description": 'Индустриальный парк Лыткарино - производственно-складской комплекс класса А+. Качество, безопасность, локация. Подробнее на raysarma.ru',
	"og:type": "product"
} %}

{% set font = 'Futura/FuturaFont.css' %}
{% set pageClass = 'exclusive-page lytkarino-exclusive' %}
{% set exclusiveName = 'Индустриальный парк Лыткарино' %}

 {% block navbar %}
	 <div class="lmenu exclusive-page-delimiter">
		 <a href="#features">Преимущества</a>
	 </div>
	 <div class="lmenu">
		 <a href="#planning">Планировки</a>
	 </div>
	 <div class="lmenu">
		 <a href="#location">Локация</a>
	 </div>
 {% endblock %}

 {% block content %}
	 <section class="lytkarino-exclusive-hero">
		 <div class="lytkarino-exclusive-hero__slider" id="exclusive-hero-slider">
			 <img src="/public/images/exclusive/lytkarino/lytkarino-hero-1.webp" alt="slide-1"
				  class="lytkarino-exclusive-hero__slide"/>
			 <img src="/public/images/exclusive/lytkarino/lytkarino-hero-2.webp" alt="slide-2"
				  class="lytkarino-exclusive-hero__slide"/>
			 <img src="/public/images/exclusive/lytkarino/lytkarino-hero-3.jpg" alt="slide-3"
				  class="lytkarino-exclusive-hero__slide"/>
		 </div>
		 <div class="lytkarino-exclusive-hero__header">
			 <a class="lytkarino-exclusive-hero__logo" href="/" target="_blank">
				 <svg xmlns="http://www.w3.org/2000/svg"
					  width="249" height="40" viewBox="0 0 600 120" xml:space="preserve">
						<g>
							<path fill="#FFFFFF" d="M55.583,0.162C24.509,2.423,0,28.348,0,60c0,18.612,8.475,35.244,21.775,46.248l48.313-68.109L55.583,0.162
								z M91.021,8.632C81.968,3.153,71.353,0,60,0c-0.09,0-0.179,0.003-0.269,0.003l18.705,26.369L91.021,8.632z M51.304,119.37
								c2.839,0.412,5.742,0.629,8.696,0.629c13.778,0,26.469-4.646,36.598-12.455l-20.389-53.38L51.304,119.37z M93.097,9.951
								l-9.208,24.107l32.658,46.04C118.78,73.814,120,67.05,120,60C120,39.096,109.308,20.692,93.097,9.951z"/>
							<g>
								<path fill="#FFFFFF" d="M198.091,90.629l20.031-52.443h15.279l20.025,52.443h-13.035l-3.823-9.998h-21.613l-3.819,9.998H198.091z
									 M217.85,73.085h15.837l-7.928-20.739L217.85,73.085z"/>
								<path fill="#FFFFFF" d="M370.536,90.629l20.031-52.443h15.279l20.024,52.443h-13.034l-3.823-9.998H387.4l-3.819,9.998H370.536z
									 M390.295,73.085h15.837l-7.928-20.739L390.295,73.085z"/>
								<path fill="#FFFFFF" d="M264.721,90.629V70.803l-23.137-32.617h15.156l15.559,21.934l15.559-21.934h15.155l-23.128,32.619v19.824
									H264.721z"/>
								<path fill="#FFFFFF" d="M181.77,71.392c1.441-0.597,2.656-1.299,3.848-2.193c1.243-0.895,2.311-1.963,3.205-3.206
									c0.895-1.292,1.59-2.758,2.088-4.398c0.497-1.689,0.745-3.628,0.745-5.814c0-3.429-0.621-6.262-1.863-8.499
									c-1.243-2.286-2.883-4.1-4.92-5.442c-1.988-1.342-4.274-2.286-6.858-2.833c-2.535-0.547-5.119-0.82-7.753-0.82H138.32
									l4.443,11.633h28.34c1.914,0,3.446,0.478,4.594,1.435c1.196,0.957,1.794,2.417,1.794,4.379c0,1.961-0.598,3.421-1.794,4.378
									c-1.148,0.957-2.68,1.435-4.594,1.441H148.27v10.459l13.279,18.718V73.085h6.267l12.444,17.544h15.156L181.77,71.392z"/>
								<path fill="#FFFFFF" d="M464.288,71.392c1.441-0.597,2.656-1.299,3.849-2.193c1.242-0.895,2.311-1.963,3.205-3.206
									c0.895-1.292,1.591-2.758,2.088-4.398c0.497-1.689,0.745-3.628,0.745-5.814c0-3.429-0.621-6.262-1.863-8.499
									c-1.243-2.286-2.884-4.1-4.92-5.442c-1.988-1.342-4.274-2.286-6.859-2.833c-2.534-0.547-5.119-0.82-7.753-0.82h-31.94
									l4.443,11.633h28.34c1.914,0,3.446,0.478,4.595,1.435c1.195,0.957,1.794,2.417,1.794,4.379c0,1.961-0.599,3.421-1.794,4.378
									c-1.148,0.957-2.681,1.435-4.595,1.441h-22.834v10.459l13.278,18.718V73.085h6.268l12.444,17.544h15.155L464.288,71.392z"/>
								<path fill="#FFFFFF" d="M300.446,90.629h42.131c3.185,0,6.556-1.346,6.556-1.346c1.209-0.5,2.313-1.125,3.313-1.875
									c1.042-0.75,1.938-1.646,2.688-2.688c0.75-1.083,1.334-2.313,1.751-3.688c0.416-1.417,0.625-3.042,0.625-4.876
									c0-0.048-0.003-0.092-0.003-0.14s0.003-0.093,0.003-0.14c0-1.834-0.209-3.46-0.625-4.876c-0.417-1.376-1.001-2.605-1.751-3.689
									c-0.75-1.041-1.646-1.938-2.688-2.688c-1-0.751-5.013-3.171-12.878-3.171h-16.321c-1.916,0-3.449-0.494-4.6-1.453
									c-1.193-0.955-1.791-2.41-1.796-4.364c0.005-1.954,0.603-3.409,1.796-4.364c1.15-0.958,2.684-1.453,4.6-1.453h16.733l4.443-11.633
									h-23.925c-3.803,0-7.828,1.606-7.828,1.606c-1.443,0.598-2.762,1.344-3.956,2.239c-1.244,0.896-2.313,1.966-3.209,3.21
									c-0.896,1.294-1.593,2.762-2.091,4.404c-0.498,1.692-0.746,3.633-0.746,5.822c0,0.058,0.003,0.111,0.004,0.167
									c-0.001,0.057-0.004,0.11-0.004,0.167c0,2.19,0.248,4.13,0.746,5.823c0.498,1.643,1.194,3.11,2.091,4.404
									c0.896,1.244,1.965,2.314,3.209,3.21c1.194,0.896,5.985,3.846,15.377,3.846h14.499c1.24,0,2.232,0.337,2.977,0.957
									c0.772,0.618,1.16,1.56,1.162,2.824c-0.002,1.265-0.39,2.207-1.162,2.824c-0.744,0.62-1.736,0.931-2.977,0.931l-34.326,0.01
									L300.446,90.629z"/>
								<polygon fill="#FFFFFF" points="527.109,38.186 511.456,60.254 495.801,38.186 482.702,38.186 482.702,90.629 496.476,90.629
									496.476,60.721 511.456,81.844 526.437,60.741 526.437,90.629 540.209,90.629 540.209,38.186 		"/>
								<path fill="#FFFFFF" d="M544.665,90.629l20.031-52.443h15.279L600,90.629h-13.034l-3.823-9.998h-21.613l-3.819,9.998H544.665z
									 M564.424,73.085h15.837l-7.928-20.739L564.424,73.085z"/>
							</g>
						</g>
					</svg>
			 </a>
			 <button class="lytkarino-exclusive-hero__button glass-button start-dialog"
					 data-wish="Пользователь Заказал Звонок"
					 data-title="Заказать звонок"
					 data-reachgoal="CALLBACK"
					 data-field="name,phone,comments"
					 data-requare="name,phone"
			 >
				 Оставить заявку
			 </button>
			 <div class="lytkarino-exclusive-hero__phone">
				 <a href="tel:+7 (495) {{ constant('PHONE')|replace({".":" "}) }}">+7 (495) {{ constant('PHONE') }}</a>
			 </div>
		 </div>
		 <div class="lytkarino-exclusive-hero__overlay">
			 <h1 class="lytkarino-exclusive-hero__title">Индустриальный парк <br/>Лыткарино</h1>
			 <h2 class="lytkarino-exclusive-hero__subtitle">Производственно-складской комплекс класса
				 А+</h2>
		 </div>
	 </section>
	 <section id="features" class="lytkarino-exclusive-features">
		 <div class="container">
			 <div class="lytkarino-exclusive-features__list">
				 {% for feature in data.features %}
					 {% include "DefaultBundle:Exclusive/Components:exclusive-feature.html.twig" with {
						 feature: feature
					 } %}
				 {% endfor %}
			 </div>
		 </div>
	 </section>
	 {% include "DefaultBundle:Exclusive/Components:exclusive-line.html.twig" %}
	 <section id="planning">
		 <div class="container">
			 <div class="lytkarino-exclusive-planning">
				 <div class="exclusive-feature exclusive-feature--inverted" id="lytkarino-exclusive-planning">
					 <div class="exclusive-feature__slider lytkarino-exclusive-planning__slider" data-aos="fade-right">
						 <div data-thumb="/public/images/exclusive/lytkarino/lytkarino-planning-1.jpeg"
							  class="exclusive-feature__photo">
							 <img
								 class="exclusive-feature__image"
								 alt="Схема строительства Лыткарино Парк"
								 src="/public/images/exclusive/lytkarino/lytkarino-planning-1.jpeg"
							 />
						 </div>
						 <div data-thumb="/public/images/exclusive/lytkarino/lytkarino-planning-2.jpeg"
							  class="exclusive-feature__photo">
							 <img
								 class="exclusive-feature__image"
								 alt="Схема фасада Лыткарино Парк"
								 src="/public/images/exclusive/lytkarino/lytkarino-planning-2.jpeg"
							 />
						 </div>
						 <div data-thumb="/public/images/exclusive/lytkarino/lytkarino-planning-3.jpeg"
							  class="exclusive-feature__photo">
							 <img
								 class="exclusive-feature__image"
								 alt="Планировка Лыткарино Парк"
								 src="/public/images/exclusive/lytkarino/lytkarino-planning-3.jpeg"
							 />
						 </div>
						 <div data-thumb="/public/images/exclusive/lytkarino/lytkarino-planning-4.jpeg"
							  class="exclusive-feature__photo">
							 <img
								 class="exclusive-feature__image"
								 alt="Планировка Лыткарино Парк"
								 src="/public/images/exclusive/lytkarino/lytkarino-planning-4.jpeg"
							 />
						 </div>
					 </div>
					 <div class="exclusive-feature__description">
						 <h2 data-aos="fade-up" class="exclusive-feature__title">Две очереди стрительства</h2>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle text-gray">Строение 1</h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Общая площадь 15.532 м<sup>2</sup>
						 </h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">19 доков</h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Склад по полу 13.032 м<sup>2</sup>
						 </h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Мезонин 1.420 м<sup>2</sup></h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Офис 1.080 м<sup>2</sup></h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle mt-3 text-gray">Строение 2</h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Общая площадь 14.264 м<sup>2</sup>
						 </h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">15 доков</h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Склад по полу 11.984 м<sup>2</sup>
						 </h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Мезонин 1.200 м<sup>2</sup></h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Офис 1.080 м<sup>2</sup></h3>
					 </div>
				 </div>
			 </div>
		 </div>
	 </section>
	 <section id="location" class="lytkarino-exclusive-map">
		 <div class="lytkarino-exclusive-map__description">
			 <h2 data-aos="fade-left" class="lytkarino-exclusive-map__title">20 км от МКАД</h2>
			 <h3 data-aos="fade-left" class="lytkarino-exclusive-map__subtitle">Новорязанское шоссе</h3>
		 </div>
		 <script type="text/javascript" charset="utf-8" async
				 src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0dc87d85737a3db3d9a4296aca25af0999a87097ac76fc291003a8689ec005c4&amp;width=100%25&amp;height=650&amp;lang=ru_RU&amp;scroll=true"></script>
	 </section>
	 <div class="pswp pswp--svg" tabindex="-1" role="dialog" aria-hidden="true">
		 <div class="pswp__bg"></div>
		 <div class="pswp__scroll-wrap">
			 <div class="pswp__container">
				 <div class="pswp__item"></div>
				 <div class="pswp__item"></div>
				 <div class="pswp__item"></div>
			 </div>
			 <div class="pswp__ui pswp__ui--hidden">
				 <div class="pswp__top-bar">
					 <div class="pswp__counter"></div>
					 <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					 <button class="pswp__button pswp__button--share" title="Share"></button>
					 <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					 <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
					 <div class="pswp__preloader">
						 <div class="pswp__preloader__icn">
							 <div class="pswp__preloader__cut">
								 <div class="pswp__preloader__donut"></div>
							 </div>
						 </div>
					 </div>
				 </div>
				 <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					 <div class="pswp__share-tooltip"></div>
				 </div>
				 <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				 </button>
				 <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				 </button>
				 <div class="pswp__caption">
					 <div class="pswp__caption__center"></div>
				 </div>
			 </div>
		 </div>
	 </div>
 {% endblock %}