{% extends "DefaultBundle:Exclusive:layout.html.twig" %}

 {% set styles = [
	 'plugins/photoSwipe/photoswipe.css',
	 'plugins/photoSwipe/default-skin/default-skin.css',
	 'plugins/lightslider/lightslider.css',
	 'plugins/lightgallery/css/lightgallery.min.css',
	 'plugins/aos.css',

	 'exclusive/components/exclusive-feature.css',
	 'exclusive/components/exclusive-line.css',

	 'exclusive/exclusive.css',
	 'exclusive/lytkarino.css'
 ] %}

 {% set scripts = [
	 'plugins/photoSwipe/photoswipe.min.js',
	 'plugins/photoSwipe/photoswipe-ui-default.min.js',
	 'plugins/photoSwipe/photoSwipeCustom.js',
	 'plugins/lightgallery/jquery.mousewheel.min.js',
	 'plugins/lightslider/lightslider.min.js',
	 'plugins/lightgallery/lightgallery.min.js',
	 'plugins/aos.js',

	 'exclusive/components/exclusive-feature.js',

	 'exclusive/exclusive.js',
	 'exclusive/lytkarino.js',
 ] %}

{% set meta = {
	"og:title": 'Индустриальный парк Лыткарино - производственно-складской комплекс класса А+',
	"og:url": app.request.getUri,
	"og:image": "",
	"og:description": 'Индустриальный парк Лыткарино - производственно-складской комплекс класса А+. Качество, безопасность, локация. Подробнее на raysarma.ru',
	"og:type": "product"
} %}

{% set font = 'Futura/FuturaFont.css' %}
{% set pageClass = 'exclusive-page lytkarino-exclusive' %}
{% set exclusiveName = 'Индустриальный парк Лыткарино' %}

 {% block navbar %}
	 <div class="lmenu exclusive-page-delimiter">
		 <a href="#features">Преимущества</a>
	 </div>
	 <div class="lmenu">
		 <a href="#planning">Планировки</a>
	 </div>
	 <div class="lmenu">
		 <a href="#location">Локация</a>
	 </div>
 {% endblock %}

 {% block content %}
	 <section class="lytkarino-exclusive-hero">
		 <div class="lytkarino-exclusive-hero__slider" id="exclusive-hero-slider">
			 <img src="/public/images/exclusive/lytkarino/lytkarino-hero-1.webp" alt="slide-1"
				  class="lytkarino-exclusive-hero__slide"/>
			 <img src="/public/images/exclusive/lytkarino/lytkarino-hero-2.webp" alt="slide-2"
				  class="lytkarino-exclusive-hero__slide"/>
			 <img src="/public/images/exclusive/lytkarino/lytkarino-hero-3.jpg" alt="slide-3"
				  class="lytkarino-exclusive-hero__slide"/>
		 </div>
		 <div class="lytkarino-exclusive-hero__header">
			 <a class="lytkarino-exclusive-hero__logo" href="/" target="_blank">
				 <svg width="249" height="40" viewBox="0 0 249 40" fill="none"
					  xmlns="http://www.w3.org/2000/svg">
					 <path fill-rule="evenodd" clip-rule="evenodd"
						   d="M25.9451 39.1016C33.1797 36.8523 38.6537 30.6062 39.7846 22.9459C39.4686 23.522 39.1959 23.9247 38.9667 24.154C38.2244 24.8962 37.3338 25.2673 36.2947 25.2673C35.7009 25.2673 35.1442 25.0818 34.6247 24.7107C34.2536 24.4138 33.6598 24.2653 32.8433 24.2653C32.0269 24.2653 30.6167 24.4138 28.6127 24.7107C25.1984 25.3045 23.4913 25.6385 23.4913 25.7127C23.4913 25.9353 24.2707 26.9002 25.8293 28.6073C27.388 30.3887 28.1673 31.836 28.1673 32.9493C28.1673 33.6916 27.9447 34.508 27.4993 35.3987C27.3509 35.6956 27.0911 36.2893 26.72 37.18C26.4231 37.9965 26.2004 38.5531 26.052 38.85C26.0168 38.9361 25.9811 39.02 25.9451 39.1016ZM21.1238 39.969C20.7518 39.9896 20.3771 40 20 40C12.1679 40 5.38726 35.498 2.10476 28.9407C3.23834 28.9258 5.24586 28.6663 8.12733 28.162C10.5767 27.7167 12.1353 27.494 12.8033 27.494C13.3229 27.494 13.6569 27.6053 13.8053 27.828C14.1022 28.1991 14.9187 29.7207 16.2547 32.3927C17.5907 34.9905 18.8896 37.1429 20.1513 38.85C20.4832 39.2795 20.8073 39.6525 21.1238 39.969ZM0.687789 25.219C1.41231 24.6597 2.96438 23.7852 5.34399 22.5953L10.2427 20.146L7.90466 14.2453C6.56036 10.9966 5.7233 8.3608 5.39349 6.33791C2.04807 9.91311 0 14.7174 0 20C0 21.8055 0.239254 23.5552 0.687789 25.219ZM8.67689 3.51177C9.38441 4.28957 10.2032 5.49232 11.1333 7.12001C11.356 7.4169 11.7271 8.04779 12.2467 9.01268C12.8404 9.97757 13.36 10.8682 13.8053 11.6847C14.3249 12.5011 14.7702 13.2062 15.1413 13.8L17.4793 17.3627L21.2647 15.9153C29.2064 12.8722 34.5504 11.3507 37.2967 11.3507C37.5566 11.3507 37.8071 11.3576 38.0481 11.3714C34.8266 4.64525 27.9558 0 20 0C15.7967 0 11.8963 1.29665 8.67689 3.51177Z"
						   fill="#FFF"/>
					 <path
						 d="M50.8667 31.6667V8.33333H60.7C61.8778 8.33333 63.0334 8.45556 64.1667 8.7C65.3223 8.94444 66.3445 9.36667 67.2334 9.96667C68.1445 10.5667 68.8778 11.3778 69.4334 12.4C69.9889 13.4 70.2667 14.6667 70.2667 16.2C70.2667 17.1778 70.1556 18.0444 69.9334 18.8C69.7111 19.5333 69.4 20.1889 69 20.7667C68.6 21.3222 68.1223 21.8 67.5667 22.2C67.0334 22.6 66.4445 22.9333 65.8 23.2L72.2334 31.6667H65.2667L59.7 24.0667H57.0334V31.6667H50.8667ZM57.0334 19.0667H60.9667C61.8556 19.0667 62.5667 18.8444 63.1 18.4C63.6556 17.9556 63.9334 17.2778 63.9334 16.3667C63.9334 15.4556 63.6556 14.7778 63.1 14.3333C62.5667 13.8889 61.8556 13.6667 60.9667 13.6667H57.0334V19.0667Z"
						 fill="#FFF"/>
					 <path
						 d="M72.3979 31.6667L81.5646 8.33333H88.2313L97.398 31.6667H91.0646L89.7313 28H80.0646L78.7313 31.6667H72.3979ZM81.898 23H87.898L85.498 16.2667C85.3868 15.9778 85.2868 15.6667 85.198 15.3333C85.1091 15 85.0091 14.5222 84.898 13.9C84.7868 14.5222 84.6868 15 84.5979 15.3333C84.5091 15.6667 84.4091 15.9778 84.298 16.2667L81.898 23Z"
						 fill="#FFF"/>
					 <path
						 d="M103.176 31.6667V23.7L94.0761 8.33333H101.076L106.243 17.9667L111.409 8.33333H118.409L109.309 23.7V31.6667H103.176Z"
						 fill="#FFF"/>
					 <path
						 d="M118.653 14.7C118.653 13.5444 118.886 12.5333 119.353 11.6667C119.82 10.8 120.453 10.0889 121.253 9.53333C122.053 8.95556 122.986 8.53333 124.053 8.26667C125.12 7.97778 126.253 7.83333 127.453 7.83333C128.92 7.83333 130.331 8 131.686 8.33333C133.064 8.66667 134.264 9.12222 135.286 9.7V15.3667C134.286 14.6111 133.153 14.0556 131.886 13.7C130.62 13.3222 129.309 13.1444 127.953 13.1667C126.82 13.1889 126.042 13.3333 125.62 13.6C125.198 13.8667 124.986 14.2222 124.986 14.6667C124.986 15.1778 125.286 15.6 125.886 15.9333C126.486 16.2444 127.231 16.5556 128.12 16.8667C129.031 17.1778 130.009 17.5222 131.053 17.9C132.098 18.2556 133.064 18.7333 133.953 19.3333C134.864 19.9333 135.62 20.6889 136.22 21.6C136.82 22.5111 137.12 23.6556 137.12 25.0333C137.12 26.4111 136.875 27.5667 136.386 28.5C135.898 29.4111 135.22 30.1444 134.353 30.7C133.509 31.2333 132.52 31.6111 131.386 31.8333C130.253 32.0556 129.053 32.1667 127.786 32.1667C126.098 32.1667 124.486 31.9889 122.953 31.6333C121.442 31.2556 120.064 30.7222 118.82 30.0333V24.2C120.22 25.1556 121.653 25.8333 123.12 26.2333C124.586 26.6333 125.986 26.8333 127.32 26.8333C128.542 26.8333 129.42 26.7222 129.953 26.5C130.509 26.2556 130.786 25.8444 130.786 25.2667C130.786 24.7111 130.486 24.2556 129.886 23.9C129.286 23.5444 128.531 23.2111 127.62 22.9C126.731 22.5667 125.764 22.2222 124.72 21.8667C123.675 21.4889 122.698 21 121.786 20.4C120.898 19.8 120.153 19.0556 119.553 18.1667C118.953 17.2556 118.653 16.1 118.653 14.7Z"
						 fill="#FFF"/>
					 <path
						 d="M144.013 31.6667L153.179 8.33333H159.846L169.013 31.6667H162.679L161.346 28H151.679L150.346 31.6667H144.013ZM153.513 23H159.513L157.113 16.2667C157.001 15.9778 156.901 15.6667 156.813 15.3333C156.724 15 156.624 14.5222 156.513 13.9C156.401 14.5222 156.301 15 156.213 15.3333C156.124 15.6667 156.024 15.9778 155.913 16.2667L153.513 23Z"
						 fill="#FFF"/>
					 <path
						 d="M171.244 31.6667V8.33333H181.078C182.255 8.33333 183.411 8.45556 184.544 8.7C185.7 8.94444 186.722 9.36667 187.611 9.96667C188.522 10.5667 189.255 11.3778 189.811 12.4C190.367 13.4 190.644 14.6667 190.644 16.2C190.644 17.1778 190.533 18.0444 190.311 18.8C190.089 19.5333 189.778 20.1889 189.378 20.7667C188.978 21.3222 188.5 21.8 187.944 22.2C187.411 22.6 186.822 22.9333 186.178 23.2L192.611 31.6667H185.644L180.078 24.0667H177.411V31.6667H171.244ZM177.411 19.0667H181.344C182.233 19.0667 182.944 18.8444 183.478 18.4C184.033 17.9556 184.311 17.2778 184.311 16.3667C184.311 15.4556 184.033 14.7778 183.478 14.3333C182.944 13.8889 182.233 13.6667 181.344 13.6667H177.411V19.0667Z"
						 fill="#FFF"/>
					 <path
						 d="M220.809 8.33333V31.6667H214.642V19.2667L209.642 26.9333H206.109L201.109 19.2333V31.6667H194.942V8.33333H200.776L207.876 19.2667L214.976 8.33333H220.809Z"
						 fill="#FFF"/>
					 <path
						 d="M223.049 31.6667L232.216 8.33333H238.882L248.049 31.6667H241.716L240.382 28H230.716L229.382 31.6667H223.049ZM232.549 23H238.549L236.149 16.2667C236.038 15.9778 235.938 15.6667 235.849 15.3333C235.76 15 235.66 14.5222 235.549 13.9C235.438 14.5222 235.338 15 235.249 15.3333C235.16 15.6667 235.06 15.9778 234.949 16.2667L232.549 23Z"
						 fill="#FFF"/>
				 </svg>
			 </a>
			 <button class="lytkarino-exclusive-hero__button glass-button start-dialog"
					 data-wish="Пользователь Заказал Звонок"
					 data-title="Заказать звонок"
					 data-reachgoal="CALLBACK"
					 data-field="name,phone,comments"
					 data-requare="name,phone"
			 >
				 Оставить заявку
			 </button>
			 <div class="lytkarino-exclusive-hero__phone">
				 <a href="tel:+7 (495) {{ constant('PHONE')|replace({".":" "}) }}">+7 (495) {{ constant('PHONE') }}</a>
			 </div>
		 </div>
		 <div class="lytkarino-exclusive-hero__overlay">
			 <h1 class="lytkarino-exclusive-hero__title">Индустриальный парк <br/>Лыткарино</h1>
			 <h2 class="lytkarino-exclusive-hero__subtitle">Производственно-складской комплекс класса
				 А+</h2>
		 </div>
	 </section>
	 <section id="features" class="lytkarino-exclusive-features">
		 <div class="container">
			 <div class="lytkarino-exclusive-features__list">
				 {% for feature in data.features %}
					 {% include "DefaultBundle:Exclusive/Components:exclusive-feature.html.twig" with {
						 feature: feature
					 } %}
				 {% endfor %}
			 </div>
		 </div>
	 </section>
	 {% include "DefaultBundle:Exclusive/Components:exclusive-line.html.twig" %}
	 <section id="planning">
		 <div class="container">
			 <div class="lytkarino-exclusive-planning">
				 <div class="exclusive-feature exclusive-feature--inverted" id="lytkarino-exclusive-planning">
					 <div class="exclusive-feature__slider lytkarino-exclusive-planning__slider" data-aos="fade-right">
						 <div data-thumb="/public/images/exclusive/lytkarino/lytkarino-planning-1.jpeg"
							  class="exclusive-feature__photo">
							 <img
								 class="exclusive-feature__image"
								 alt="Схема строительства Лыткарино Парк"
								 src="/public/images/exclusive/lytkarino/lytkarino-planning-1.jpeg"
							 />
						 </div>
						 <div data-thumb="/public/images/exclusive/lytkarino/lytkarino-planning-2.jpeg"
							  class="exclusive-feature__photo">
							 <img
								 class="exclusive-feature__image"
								 alt="Схема фасада Лыткарино Парк"
								 src="/public/images/exclusive/lytkarino/lytkarino-planning-2.jpeg"
							 />
						 </div>
						 <div data-thumb="/public/images/exclusive/lytkarino/lytkarino-planning-3.jpeg"
							  class="exclusive-feature__photo">
							 <img
								 class="exclusive-feature__image"
								 alt="Планировка Лыткарино Парк"
								 src="/public/images/exclusive/lytkarino/lytkarino-planning-3.jpeg"
							 />
						 </div>
						 <div data-thumb="/public/images/exclusive/lytkarino/lytkarino-planning-4.jpeg"
							  class="exclusive-feature__photo">
							 <img
								 class="exclusive-feature__image"
								 alt="Планировка Лыткарино Парк"
								 src="/public/images/exclusive/lytkarino/lytkarino-planning-4.jpeg"
							 />
						 </div>
					 </div>
					 <div class="exclusive-feature__description">
						 <h2 data-aos="fade-up" class="exclusive-feature__title">Две очереди стрительства</h2>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle text-gray">Строение 1</h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Общая площадь 15.532 м<sup>2</sup>
						 </h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">19 доков</h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Склад по полу 13.032 м<sup>2</sup>
						 </h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Мезонин 1.420 м<sup>2</sup></h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Офис 1.080 м<sup>2</sup></h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle mt-3 text-gray">Строение 2</h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Общая площадь 14.264 м<sup>2</sup>
						 </h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">15 доков</h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Склад по полу 11.984 м<sup>2</sup>
						 </h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Мезонин 1.200 м<sup>2</sup></h3>
						 <h3 data-aos="fade-up" class="exclusive-feature__subtitle">Офис 1.080 м<sup>2</sup></h3>
					 </div>
				 </div>
			 </div>
		 </div>
	 </section>
	 <section id="location" class="lytkarino-exclusive-map">
		 <div class="lytkarino-exclusive-map__description">
			 <h2 data-aos="fade-left" class="lytkarino-exclusive-map__title">20 км от МКАД</h2>
			 <h3 data-aos="fade-left" class="lytkarino-exclusive-map__subtitle">Новорязанское шоссе</h3>
		 </div>
		 <script type="text/javascript" charset="utf-8" async
				 src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0dc87d85737a3db3d9a4296aca25af0999a87097ac76fc291003a8689ec005c4&amp;width=100%25&amp;height=650&amp;lang=ru_RU&amp;scroll=true"></script>
	 </section>
	 <div class="pswp pswp--svg" tabindex="-1" role="dialog" aria-hidden="true">
		 <div class="pswp__bg"></div>
		 <div class="pswp__scroll-wrap">
			 <div class="pswp__container">
				 <div class="pswp__item"></div>
				 <div class="pswp__item"></div>
				 <div class="pswp__item"></div>
			 </div>
			 <div class="pswp__ui pswp__ui--hidden">
				 <div class="pswp__top-bar">
					 <div class="pswp__counter"></div>
					 <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					 <button class="pswp__button pswp__button--share" title="Share"></button>
					 <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					 <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
					 <div class="pswp__preloader">
						 <div class="pswp__preloader__icn">
							 <div class="pswp__preloader__cut">
								 <div class="pswp__preloader__donut"></div>
							 </div>
						 </div>
					 </div>
				 </div>
				 <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					 <div class="pswp__share-tooltip"></div>
				 </div>
				 <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				 </button>
				 <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				 </button>
				 <div class="pswp__caption">
					 <div class="pswp__caption__center"></div>
				 </div>
			 </div>
		 </div>
	 </div>
 {% endblock %}